* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 80vh;
    max-height: 80vh;
    position: relative;
    box-shadow: 3px 1px 5px rgb(0, 0, 0);
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    transition: 2s;
    position: absolute;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn button{
    outline: none;
    border: 2px;
    color: black;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    gap: 1rem;
}

.btn button:hover{
    background-color: gray;
    transition: 1s;
    border-radius: 10px;
}